.about__img {
  max-width: 400px;
}

section {
  display: flex;
  padding: 20px;
}

h1 {
  padding: 20px;
  text-align: center;
}

h2,
h3 {
  margin: 20px 0 2px 0;
}
@media screen and (max-width: 850px) {
  section {
    flex-direction: column;
  }
}
