main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

section {
  padding: 20px;
}

.img-modal {
  display: none;
  position: fixed;
  height: 100vh;
  backdrop-filter: blur(2px);
  width: fit-content;
}

img {
  width: 200px;
}

.img-modal__img {
  width: 90%;
  height: 80%;
  object-fit: cover;
}

.img-modal__button--exit {
  position: absolute;
  right: 0;
}

form {
  display: flex;
  flex-direction: column;
}

.comments--container {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.comments--avatar {
  width: 45px;
  border-radius: 50px;
  transform: translate(4px, 16px);
}

.blog--comment {
  background: #465152;
  border: 1px solid var(--secondary-color);
  border-radius: 21px;
  padding: 10px 20px;
  max-width: 300px;
  overflow-wrap: break-word;
}

label {
  color: white;
}

.comments--date {
  font-size: 0.7rem;
  color: white;
}

.button--post-comment {
  background: var(--primary-color);
  border-radius: 7px;
  padding: 15px;
  max-width: max-content;
  color: white;
  box-shadow: 2px 3px 4px black;
  margin-top: 7px;
}

.user-info {
  padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .img-modal__img {
    height: 70%;
  }
}
