section {
  display: flex;
  justify-content: center;
}

.slides {
  position: absolute;
  z-index: 0;
  height: 85vh;
  width: 90vw;
  opacity: 0;
  border-radius: 22px;
}

.slides--container--textbox {
  position: relative;
  top: 286px;
}

p {
  text-shadow: 1px 1px 1px white;
  color: black;
}

button {
  position: absolute;
  z-index: 2;
  border: none;
  background: #00000045;
  font-size: 2rem;
}
#forward--button {
  top: 50%;
  right: 5%;
}
#backward--button {
  top: 50%;
  left: 5%;
}

.active {
  opacity: 1;
  /*transition: all ease-in 0.7s; */
}
