section {
  display: flex;
  justify-content: center;
}

.slides {
  max-width: 400px;
  display: none;
  border-radius: 22px;
  text-decoration: none;
}

.slides--container--textbox {
  overflow: hidden;
  background-color: var(--fourth-color);
  max-height: 177px;
}

.slides__p--breadtext {
  display: none;
}

button {
  border: none;
  background: #00000045;
  font-size: 2rem;
}

.active {
  display: flex;
  flex-direction: column;
}

.carousel--date {
  margin-top: 0;
  font-size: 0.6rem;
}

.img--container {
  max-height: 337px;
  background: var(--third-color);
  overflow: hidden;
}

h2 {
  font-size: 1rem;
}
