section {
  display: flex;
  justify-content: center;
}

.slides {
  max-width: 400px;
  display: none;
  border-radius: 22px;
  text-decoration: none;
}

.slides--container--textbox {
  overflow: hidden;
  background-color: #465152;
  border-radius: 0 0 22px 22px;
  max-height: 177px;
}

.slides__p--breadtext {
  display: none;
}

button {
  position: absolute;
  z-index: 2;
  border: none;
  background: #00000045;
  font-size: 2rem;
}
#forward--button {
  top: 60%;
  right: 7%;
}
#backward--button {
  top: 60%;
  left: 7%;
}

.active {
  display: flex;
  flex-direction: column;
}

.carousel--date {
  margin-top: 0;
  font-size: 0.6rem;
}

.img--container {
  max-height: 337px;
  background: #f29727;
  overflow: hidden;
}

.img--container,
.img--container img {
  border-radius: 21px 21px 0 0;
}

h2 {
  font-size: 1rem;
}
