.form--contact {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  border: none;
  border-bottom: 1px solid #f29727;
  outline: none;
  background: #ffffff;
  max-width: 309px;
}

textarea {
  border: 1px solid #f5b373;
  max-width: 309px;
}

main {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: #3f5959;
}

section {
  border-radius: 23px;
  padding: 29px;
  background-color: white;
  width: 266px;
}

section,
h1 {
  margin: 0;
}

h2 {
  font-size: 1rem;
}
