.form--contact {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 266px;
  padding: 29px;
  border-radius: 8px;
}

.contact__section {
  padding-block: 50px;
  width: 76%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.social-media--contact {
  gap: 30px;
}

.social-media--contact a {
  width: fit-content;
  font-size: 3rem;
  transition: transform 200ms ease-in;
}

.social-media--contact a:hover {
  transition: transform 400ms ease-in-out;
  transform: translateY(-4px);
}

.input--contact {
  border: none;
  border-bottom: 1px solid var(--third-color);
  outline: none;
  background: #ffffff;
  max-width: 309px;
  padding: 5px;
}

textarea {
  border: 1px solid var(--third-color);
  max-width: 309px;
  border-radius: 8px;
}

main {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  background-color: var(--primary-color);
}

.headers--container {
  margin-top: 80px;
  margin-bottom: 23px;
}

section,
h1 {
  margin: 0;
}

.contact--info {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.spinner--contact {
  position: fixed;
  top: 50%;
  left: 50%;
}

@media screen and (max-width: 900px) {
  .contact__section {
    flex-direction: column;
    align-items: center;
  }
}
