.form--contact {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  border: none;
  border-bottom: 1px solid #5dffef;
  outline: none;
  background: #3f5959;
  max-width: 400px;
}

main {
  display: flex;
  justify-content: center;
  gap: 10px;
}

main * {
  flex: 1;
  max-width: 400px;
}

section {
  border: 3px solid #5dffef;
  border-radius: 23px;
  padding: 29px;
}

section,
h1 {
  margin: 0;
}
