:root {
  --main-color: #3f5959;
  --secondary-color: #6cf5e7;
  --third-color: #f29727;
  --fourth-color: #465152;
  --header-footer-color: #4eaba3;
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: var(--main-color);
}

header,
footer {
  background: var(--fourth-color);
  border-bottom: 2px solid var(--header-footer-color);
}

footer {
  padding: 40px;
}

.wrapper {
  padding: 20px;
  max-width: 1350px;
  margin: auto;
}

label,
input,
button {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
  color: var(--secondary-color);
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
}

/*forms */

.success-message {
  margin: 0;
  color: #006400;
}

.error {
  color: #b40505;
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: auto;
}

section {
  max-width: 1350px;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

p {
  color: white;
  max-width: 700px;
}

/*BUTTONS*/
.btn {
  padding: 10px 20px;
  background: var(--third-color);
  border-radius: 12px;
  display: block;
  width: 87px;
  text-align: center;
}

.btn--alternate {
  background-color: var(--main-color);
  border: 2px var(--third-color) solid;
}

/*Spinner animation made by chatGPT*/

.spinner {
  animation: spinner 2s linear infinite;
  object-fit: contain;
  width: 70px;
}

@keyframes spinner {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
/*gradient gotten from mhttps://cssgradient.io/*/
a:hover,
button:hover {
  box-shadow: 0px 0px 3px black;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}
