.headers-index {
  display: flex;
  justify-content: space-evenly;
}

.index__hero--image {
  max-width: 400px;
}

.index__h2--latest {
  font-size: 1.5rem;
}

p {
  max-width: none;
}

.p--blog-description {
  max-width: 400px;
}

.carousel--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  padding: 20px;
}
