header {
  padding: 5px 1%;
}
.hamburger-menu__button {
  display: none;
}

.nav__ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-image {
  width: 80px;
  border-radius: 21px;
  height: 86px;
  border: 2px solid var(--secondary-color);
}

.nav__ul__li__a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: transform 700ms;
  display: flex;
}

nav {
  display: flex;
  justify-content: space-between;
}

.active {
  color: #000000;
  background-color: var(--secondary-color);
  box-shadow: 1px 1px 3px black;
}

@media screen and (max-width: 600px) {
  .hamburger-menu__button {
    display: block;
  }

  .nav__ul {
    display: none;
    padding: 40px;
    position: fixed;
    background-color: #2e2e2efc;
    width: 80%;
    height: 29vh;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 52px;
    border: 2px solid #68f2e7;
    border-radius: 21px;
  }

  .visible {
    display: flex;
  }
}
