header {
  padding: 5px 1%;
}

.nav__ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-image {
  width: 80px;
  border-radius: 21px;
  height: 86px;
  border: 2px solid var(--secondary-color);
}

.nav__ul__li__a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: transform 700ms;
  display: flex;
}

nav {
  display: flex;
  justify-content: space-between;
}

.active {
  color: #000000;
  background-color: var(--third-color);
  box-shadow: 1px 1px 3px black;
}
